body {
    background: #FAFAFA;
}

#nav-bar {
    top:0;
    list-style-type: none;
    margin: 0em 0em 0.5em 0em;
    height: 75px;
    line-height:40px;
    padding: 0;
    overflow: hidden;
    border: 0 0 0 0.5px;
    border-bottom: solid #E6E6E6 2px;
    background-color: #FFF;
    text-align: center;
    position: fixed;
    width: 100%;
}

#nav-bar *{
  display: inline-block;
}

.nav-item, #nav-item-other {
    font-family: 'Proxima Nova';
    font-weight: 600;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
    transition: color 0.125s;
}

#cupid-logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    margin-right: 50px;
}

#nav-item-other {
    float: right;
    color: #D83F87;
    font-weight: 400;
    padding: 14px 6px;
    cursor: pointer;
}

#nav-item-other:hover {
    background-color: white;
    color: black;
}

#nav-item:hover {
    background-color: white;
    color: #D83F87;
}

#nav-links {
  display: inline-block;
  margin-top: 0;
  padding: 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
  /* position: absolute; */
  width: 10px;
  height: 10px;
  right: 15px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  transition: color 0.25s;
}

.bm-cross-button:hover {
  color: #D83F87
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  transition: color 0.125s;
}

.bm-cross:hover {
  background: #D83F87;
}

/* General sidebar styles */
.bm-menu {
  background: #FFF;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.menu-item {
  color: black;
  font-family: 'Proxima Nova';
  padding: 10px;
  transition: color 0.125s;
}

.menu-item:hover {
  color: #D83F87;
}

.nav-item:hover {
  color: #D83F87;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#root{
  margin-top: 100px;
}

@media (max-width:800px) {
  #cupid-logo{
    margin-right: 0;
  }
  #nav-links{
    display:none;
  }
}

.card{
  border-radius: 25px;
  overflow: hidden;
}

button{
  font: 20px 'Proxima Nova', sans-serif;
  border: 3px rgba(0, 135, 235, 1) solid;
  border-radius: 40px;
  color: rgba(0, 135, 235, 1);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right:15px;
  background-color: rgba(0,135,235,0);
  transition: background-color 0.25s, color 0.25s, font-size 0.125s;
  cursor: pointer;
}

button:hover {
  font: 20px 'Proxima Nova', sans-serif;
  border: 3px rgba(0, 135, 235, 1) solid;
  border-radius: 40px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right:15px;
  background-color: rgba(0,135,235,1);
}
