/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 15px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross-button:hover {
  color: #D83F87
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-cross:hover {
  background: #D83F87;
}

/* General sidebar styles */
.bm-menu {
  background: #FFF;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.menu-item {
  color: black;
  font-family: 'Roboto';
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  color: #D83F87;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#menu-dashboard {
  position: absolute;
  top: 0px;
  right: 0px;
}
