@media (max-width:800px){
  .login-content{
    display: none;
  }
}



.box-login-form {
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    margin: auto;
    text-align:center;
    width: 350px;
    height: auto;
    background: #FFFFFF;
}


.inputbox {
    font-size: 14px;
    width: 245px;
    background: #FAFAFA;
    color: black;
    text-align: start;
    text-indent: 15px;
    margin-bottom: 15px;
    border: solid #EFEFEF 1px;
    padding: 7px 0px 7px 0px;
    border-radius: 5px;
    outline: none;
}

.inputbox:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,162,241,0.25);
    box-shadow: 0 0 0 0.2rem rgba(0,162,241,0.25);
}

.main-content {
    text-align: center;
}


.header-login {
    font-family: 'Proxima Nova', sans-serif;
    color: black;
    text-align:center;
}

.header-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: black;
    margin: 0.3em auto;
}

.signupBtn {
    margin: auto;
    background:none!important;
    color:#3897F0;
    border:none;
    padding:0!important;
    font: "Roboto";
    cursor: pointer;
}

.signupBtn:hover {
    border-bottom:1px solid #FFF;
}

.remember {
    color: black;
}

.body {
    background: white;
}

.form-login {
    outline: none;
}
