.stack-container {
    position: relative;
    margin: auto;
    margin-top: 20px;
    text-align:center;
    width: 350px;
    height: 600px;
}

.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.matchesArrayIcons {
  list-style: none;
  text-align: center;
  font-family: 'Roboto';
  font-size: 17px;
  width: 150px;
  display: inline-block;
  padding-bottom: 35px;
}

.card-top {
    position: absolute;
    top:0px;
    left:0;
    right:0;
    z-index:3;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    margin: auto;
    text-align:center;
    width: 100%;
    height: 475px;
    background: #FFFFFF;
}

.card-middle {
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    z-index:2;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    margin: auto;
    text-align:center;
    width: 95%;
    height: 450px;
    background: #FFFFFF;

}

.card-bottom {
    position: absolute;
    top:66px;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    margin: auto;
    text-align:center;
    width: 90%;
    height: 425px;
    background: #FFFFFF;

}

.card-button {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    z-index: 4;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    color: white;
    outline:none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
    border-radius: 50px;
    margin: auto;
    text-align:center;
    width: 70px;
    height: 70px;

}
.pass {
    background: #DD4132;
    left: 50px;
}

.like {
    background: #79C793;
    right: 50px;
}

.name-header-card {
    font-family: 'Roboto';
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

.text-card {
    font-family: 'Roboto';
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;

}

.img  {
    width:350px;
    height: 350px;
}

.no-cards-left {
    margin:auto;
    text-align: center;
    left: 0;
    right: 0;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
}
