.profile-img  {
    width:280px;
    height: 280px;
    z-index: 2;
    display: inline;
    	
}

img {
	max-width: 100%;
    max-height: 100%;
}

.box-profile-form {
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    margin: auto;
    text-align:center;
    width: 350px; 
    height: 537px;
    background: #FFFFFF;
}

.drop-box {
	border: solid #E6E6E6 2px;
	border-style: dashed;
	background: white;
	color: #757575;
	font: "Roboto";
	margin: auto auto; 	
	margin-top: 1em;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 280px;
	height: 280px;
	position: relative;
}

.input-box {
    border: 0;
    -webkit-box-flex: 1;
    font-size: 14px;
    width: 80%;
    background: #FAFAFA;
    color: black;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    margin: 0.5em auto;
    border: solid #EFEFEF 1px;
    padding: 9px 0 7px 8px;
    transform-origin: center;
    outline: none;
}

.description-box2{
	border: 0;
	font-family: "Roboto";
	font-size: 14px;
    background: #FAFAFA;
    color: black;
    margin-top: 1em;
    border: solid #EFEFEF 1px;
    padding: 9px 0 7px 8px;
    width: 80%;
    outline: none;
    resize:none;
}

.input-box:focus, .description-box2:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,162,241,0.25);
    box-shadow: 0 0 0 0.2rem rgba(0,162,241,0.25);

}

.description-box {
	height:30px;
}

.completeProfileBtn {
	position: relative;	
	left: 0;
	right: 0;
	text-align:center;
	margin: auto;
	margin-top: 0.5em;
    font-size: 14px;
    font-weight: 570;
    color: white;
    background: #3897F0;
    border: 0px solid white;
    border-radius: 2px;
    width: 82%;
    padding: 0.5em 1em;
    box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.completeProfileBtn:focus {
    outline:0;
}

.completeProfileBtn:hover {
    background-color: #3898F9;
    color:white;
    cursor: pointer;
    transition: all 0.2s ease 0s;

}
